<style scoped>
    .domain {
        color: #5a6268;
        font-size: 0.7em;
    }
    hr {
        margin-left: 0;
        margin-right: 0;
        border-width: 2px;
    }
    .img-fluid {
        /*max-height: 50px;*/
    }
    .image-preview {
        background: center no-repeat;
        background-size: cover;
        height: 60px;
        cursor: pointer;
    }
    .selftext-preview {
        cursor: pointer;
    }
    .youtube-embed {
        padding: 0 0 56.25%;
        float: none;
        clear: both;
        width: 100%;
        position: relative;
        height: 0;
    }
    .youtube-embed iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        max-width: 1039px;
    }
</style>

<template>
    <div>
        <div class="row justify-content-center mt-0 mt-sm-4">
            <div class="col-12 col-sm-11 p-0 p-sm-2">
                <div class="card card-default">

                    <div class="card-header">
                        <a href="/" class="btn btn-outline-secondary my-1 mr-2"><i class="fa fa-reddit-alien"></i> Front Page</a>
                        <a href="/subscriptions" class="btn btn-outline-secondary my-1 mr-2" v-if="hasSubscriptions"><i class="fa fa-list-ul"></i> Your Subscriptions</a>
                        <a href="#/" :class="settingsBtnClass" v-on:click.prevent="toggleSettings">
                            <i class="fa fa-cogs"></i> Settings
                        </a>
                    </div>

                    <div class="card-body">

                        <div v-show="this.settingsOpen">
                            <div class="form-group">
                                <label for="settingsSortBy">Sort By</label>
                                <select class="form-control" id="settingsSortBy" v-model="sortBy" v-on:change.prevent="resetPosts">
                                    <option value="best">Best</option>
                                    <option value="top">Top</option>
                                    <option value="new">New</option>
                                    <option value="rising">Rising</option>
                                    <option value="controversial">Controversial</option>
                                </select>
                            </div>

                            <div v-show="this.sortBy === 'top'">
                                <hr>
                                <div v-for="(label, key) in this.times" class="form-check">
                                    <input class="form-check-input" type="radio" name="settingsTime"
                                           :id="'settingsTime' + key" v-bind:value="key" v-model="time" v-on:change.prevent="resetPosts">
                                    <label class="form-check-label" :for="'settingsTime' + key">
                                        {{ label }}
                                    </label>
                                </div>
                            </div>

                            <hr>
                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" id="settingsStickies" v-model="showStickies">
                                <label class="form-check-label" for="settingsStickies">Show Stickies</label>
                            </div>
                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" id="settingsImages" v-model="showImages">
                                <label class="form-check-label" for="settingsImages">Show Preview Images</label>
                            </div>
                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" id="settingsNewTab" v-model="openNewTab">
                                <label class="form-check-label" for="settingsNewTab">Open links in new tab</label>
                            </div>
                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" id="settingsCeddit" v-model="useCeddit">
                                <label class="form-check-label" for="settingsCeddit">Link comments to ceddit.com</label>
                            </div>
                            <hr>
                            <div class="form-group">
                                <label for="settingsLimit">Results Limit</label>
                                <select class="form-control" id="settingsLimit" v-model="limit" v-on:change.prevent="resetPosts">
                                    <option value="5">5</option>
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                            </div>
                            <hr>
                        </div>

                        <div v-for="(post) in this.posts" :post="post">
                            <div class="post" v-show="showPost(post)">
                                <div class="row" >
                                    <div class="col-3 col-sm-2 col-xl-1 my-auto text-center p-0 image-preview" v-if="showImages"
                                         :style="'background-image: url(' + getPreviewImage(post) + ')'"
                                         v-on:click="showModal(post)">
                                        <!--<img v-if="hasPreviewImage(post)" :src="getPreviewImage(post)" class="img-fluid" alt="x" height="50px">-->
                                    </div>
                                    <div :class="postColumnClass">
                                        <h5><a :class="post.stickied ? 'text-success' : ''" :href="post.url" :target="anchorTarget" rel="noopener noreferrer" v-on:click="openLink(post.url, $event)">{{ post.title }}</a> <span class="domain">({{ post.domain }})</span></h5>
                                        <span v-if="post.is_self" v-on:click="showModal(post)" class="selftext-preview">{{ post.selftext.slice(0,200) }} ... Read More <br></span>
                                        <span>{{ fromNow(post.created_utc) }} by {{ post.author }} to <a :href="'/' + post.subreddit_name_prefixed" class="text-success">{{ post.subreddit_name_prefixed }}</a></span><br>
                                        <span>{{ post.ups }} upvotes, <a :href="getCommentsUrl(post)" :target="anchorTarget" rel="noopener noreferrer" v-on:click="openLink(getCommentsUrl(post), $event)">{{ post.num_comments }} comments</a></span>
                                    </div>
                                </div>
                                <hr>
                            </div>
                        </div>
                        <div class="text-center">
                            <a href="#/" class="btn btn-primary" v-on:click="loadMore">Load More...</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" ref="modal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"><a :class="this.post.stickied ? 'text-success' : ''" :href="this.post.url" :target="anchorTarget" rel="noopener noreferrer" v-on:click="openLink(this.post.url, $event)">{{ this.post.title }}</a> <span class="domain">({{ this.post.domain }})</span></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="w-100 text-center">
                            <img v-if="hasPreviewImage(this.post)" :src="getDisplayImage(this.post)" class="img-fluid mx-auto" alt="x">
                        </div>

                        <!--<div v-if="isYoutube(post)" v-html="getMediaEmbedCode(post)">-->
                        <!--</div>-->

                        <!--<div class="w-100 text-center" v-if="isVideoMedia(this.post)">-->
                            <!--<video preload="auto" autoplay="autoplay" loop="loop" style="width: 200px; height: 200px;">-->
                                <!--<source :src="getDisplayImage(this.post)" type="video/webm"></source>-->
                            <!--</video>-->
                        <!--</div>-->

                        <br>
                        <div v-show="this.post.is_self" v-html="getPostHtml(this.post)"></div>
                        <br>
                        <span>{{ fromNow(this.post.created_utc) }} by {{ this.post.author }} to <a :href="'/' + this.post.subreddit_name_prefixed" class="text-success">{{ this.post.subreddit_name_prefixed }}</a></span><br>
                        <span>{{ this.post.ups }} upvotes, {{ this.post.num_comments }} comments</span>
                    </div>
                    <div class="modal-footer">
                        <div class="w-100 text-right">
                            <button type="button" class="btn btn-outline-secondary m-1" data-dismiss="modal">Close</button>
                            <a class="btn btn-outline-success m-1" :href="getCommentsUrl(this.post)" :target="anchorTarget" rel="noopener noreferrer" v-on:click="openLink(getCommentsUrl(this.post), $event)">Read @ Reddit.com</a>
                            <a class="btn btn-outline-primary m-1" :href="post.url" :target="anchorTarget" rel="noopener noreferrer" v-on:click="openLink(post.url, $event)">Open Link ({{ post.domain }})</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
    export default {

        props: {

            commentEndpoint: {default: 'https://old.reddit.com'},
            cedditEndpoint: {default: 'https://www.ceddit.com'},
            apiEndpoint: {default: 'https://www.reddit.com/'},

        },

        data() {
            return {
                sortBy: 'best',
                subreddits: '',
                hasSubscriptions: false,
                after: '',
                posts: [],
                post: {
                    title: '',
                    num_comments: '',
                    is_self: true,
                    selftext_html: '',
                    domain: '',
                    subreddit_name_prefixed: '',
                    author: '',
                    created_utc: '',
                    ups: '',
                    thumbnail: 'default',
                    media: null,
                    url: ''
                },
                settingsOpen: false,
                showStickies: false,
                showImages: true,
                useCeddit: true,
                openNewTab: false,
                time: 'day',
                limit: 25,
                times: {
                    hour: 'Past Hour',
                    day: 'Past 24 Hours',
                    week: 'Past Week',
                    month: 'Past Month',
                    year: 'Past Year',
                    all: 'All Time'
                }
            }
        },

        computed: {

            // hasSubscriptions: function () {
            //     return this.subreddits !== null && this.subreddits.split('+').length > 1;
            //     // return localForage.getItem('subreddits') !== null;
            // },

            settingsBtnClass: function () {
                return 'btn my-1 mr-2 " ' + (this.settingsOpen === true ? 'btn-secondary' : 'btn-outline-secondary');
            },

            postColumnClass: function () {
                return this.showImages ? 'col-9 col-sm-10 col-xl-11' : 'col-12';
            },
            anchorTarget: function () {
                return this.openNewTab ? '_blank' : '_self';
            }

        },

        methods: {

            openLink (url, event) {
                if (!this.openNewTab && event) {
                    console.log('preventing default & opening link');
                    event.preventDefault();
                    window.location = url;
                }
            },

            getPostHtml (post) {
                var txt = document.createElement("textarea");
                txt.innerHTML = post.selftext_html;
                return txt.value;
            },

            showModal (post) {
                this.post = post;
                $(this.$refs.modal).modal('show');
            },

            resetPosts () {
                this.posts = [];
                this.after = '';
                this.loadMore();
            },

            showPost (post) {
                return this.showStickies || (!this.showStickies && !post.stickied);
            },

            toggleSettings () {
                this.settingsOpen = !this.settingsOpen;

            },

            loadMore () {
                // this.posts = [];
                if (this.subreddits.length > 0) {
                    this.appendPosts(this.subreddits);
                } else {
                    this.appendPosts('');
                }
            },

            getCommentsUrl (post) {
                return (this.useCeddit ? this.cedditEndpoint : this.commentEndpoint) + post.permalink;
            },

            getPreviewImage(post) {
                return (post.thumbnail === 'nsfw' && typeof post.preview !== 'undefined') ? post.preview.images[0].source.url : post.thumbnail;
            },

            isVideoMedia (post) {
                return ['gifv', 'webm'].indexOf(post.url.slice(-4)) > -1;
            },

            isYoutube (post) {
                return 'media' in post && post.media !== null && 'type' in post.media && post.media.type === 'youtube.com';
            },

            getMediaEmbedCode (post) {
                let txt = document.createElement("textarea");
                txt.innerHTML = post.media.oembed.html;
                return txt.value;
            },

            getDisplayImage(post) {

                if (['jpg', 'gif'].indexOf(post.url.slice(-3)) > -1) {
                    return post.url;
                }

                if ('preview' in post && typeof post.preview.images[0].variants.gif === 'object') {
                    return post.preview.images[0].variants.gif.source.url;
                }

                if (post.media !== null && typeof post.media.oembed === 'object') {
                    return post.media.oembed.thumbnail_url;
                }

                if ('preview' in post && 'images' in post.preview) {
                    return post.preview.images[0].source.url;
                }

                return post.thumbnail;
            },

            hasPreviewImage (post) {
                if (post.thumbnail === 'nsfw') {
                    return (typeof post.preview === 'object') && (typeof post.preview.images[0].resolutions[0].url === 'string');
                }
                return post.thumbnail !== 'self' && post.thumbnail !== 'default' && post.thumbnail.length > 4;
            },

            fromNow(createdat) {
                return moment.unix(createdat).fromNow()
            },

            appendPosts (subreddit) {

                let urlsub = '';
                if (subreddit.length > 0) {
                    urlsub = 'r/' + subreddit + '/';
                }

                let url = this.apiEndpoint + urlsub + this.sortBy + '.json?limit=' + this.limit;

                if (this.after.length > 0) {
                    url += '&after=' + this.after;
                }
                if (this.sortBy === 'top') {
                    url += '&t=' + this.time;
                }

                console.log(url);
                window.axios
                    .get(url)
                    .then((response) => {
                        for (let x = 0; x < response.data.data.children.length; x++) {
                            this.posts.push(response.data.data.children[x].data);
                        }
                        this.after = response.data.data.children[response.data.data.children.length-1].data.name;
                    })
                    .catch((error) => {
                        console.log('API Error: ', error);
                    });
            }

        },

        watch: {
            subreddits: function (val) {
                if (val !== null && val.split('+').length > 1) {
                    this.hasSubscriptions = true;
                    localForage.setItem('subreddits', JSON.stringify(val));
                }
            },
            sortBy: function (val) {
                localForage.setItem('sortBy', JSON.stringify(val));
            },
            showStickies: function (val) {
                localForage.setItem('showStickies', JSON.stringify(val));
            },
            showImages: function (val) {
                localForage.setItem('showImages', JSON.stringify(val));
            },
            limit: function (val) {
                localForage.setItem('limit', JSON.stringify(val));
            },
            time: function (val) {
                localForage.setItem('time', JSON.stringify(val));
            },
            useCeddit: function (val) {
                localForage.setItem('useCeddit', JSON.stringify(val));
            },
            openNewTab: function (val) {
                localForage.setItem('openNewTab', JSON.stringify(val));
            }
        },

        mounted() {

            var pathname = window.location.pathname;

            localForage.getItem('subreddits').then((val) => {
                if (val !== null) {
                    this.hasSubscriptions = true;
                    // this.storedSubreddits = JSON.parse(val);
                }
            });


            localForage.getItem('sortBy').then((val) => {
                if (val !== null) {
                    this.sortBy = JSON.parse(val);
                }
            });
            localForage.getItem('showStickies').then((val) => {
                if (val !== null) {
                    this.showStickies = JSON.parse(val);
                }
            });
            localForage.getItem('showImages').then((val) => {
                if (val !== null) {
                    this.showImages = JSON.parse(val);
                }
            });
            localForage.getItem('limit').then((val) => {
                if (val !== null) {
                    this.limit = JSON.parse(val);
                }
            });
            localForage.getItem('time').then((val) => {
                if (val !== null) {
                    this.time = JSON.parse(val);
                }
            });
            localForage.getItem('useCeddit').then((val) => {
                if (val !== null) {
                    this.useCeddit = JSON.parse(val);
                }
            });
            localForage.getItem('openNewTab').then((val) => {
                if (val !== null) {
                    this.openNewTab = JSON.parse(val);
                }
            });

            if (pathname.slice(0,3) === '/r/') {
                this.subreddits = pathname.slice(-1) === '/' ? pathname.slice(3, -1) : pathname.slice(3);
                this.loadMore();
            } else if (pathname === '/subscriptions' ) {
                localForage.getItem('subreddits').then((val) => {
                    if (val !== null) {
                        this.subreddits = JSON.parse(val);
                        this.loadMore();
                    }
                });
            } else {
                this.loadMore();
            }

            // this.loadMore();

        }
    }
</script>
