
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
//$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Bootstrap
$font-size-base:              0.7rem !default;

@import '~bootstrap/scss/bootstrap';
@import "~font-awesome/css/font-awesome.css";

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
